body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

#btn {
  display: block;
  margin: 0 auto;
}

.tweet {
  margin: 2em auto;
  border: 1px solid black;
  padding: 2em;
  border-radius: 1em;
}

.tweet > img {
  border-radius: 1em;
  float: left;
  margin-right: 1em;
}

.tweet > h4 {
  float: left;
}

.tweet > p {
  clear: both;
}

#tweets {
  display: block;
  width: 960px;
  margin: 0 auto;
  padding: 2em;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
